<header>
  <div class="row">
    <h1>Choose Higher or Lower</h1>
  </div>
  <div class="row">
    <div class="column" [class.hidden]="result">
      <button md-raised-button color="primary" [disabled]="!gameIsReady" (click)="play('1')">Higher</button>
    </div>
    <div class="column" [class.hidden]="result">
      <button md-raised-button color="primary" [disabled]="!gameIsReady" (click)="play('0')">Lower</button>
    </div>
    <div class="column" [class.hidden]="!result" >
      <button md-raised-button color="accent" (click)="reset()">Try again</button>
    </div>
  </div>
</header>
<section>
  <div class="row">
    <div class="column">
      <img [src]="dealerCard.image" *ngIf="dealerCard">
    </div>
    <div class="column">
      <img [src]="playerCard.image" *ngIf="playerCard" [class.hidden]="!result">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="result">{{result}}</div>
    </div>
  </div>
</section>
