<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <span>
      <span class="title">Angular2cc</span>
      <a routerLink="/movie" routerLinkActive="active">Movie</a>
      <a routerLink="/cards" routerLinkActive="active">Cards</a>
    </span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
  </md-menu>
  <router-outlet></router-outlet>
</div>
