.container {
  width: 95%;
  max-width: 960px;
  min-width: 600px;
  margin: 0 auto;
}
h1, h2 {
    margin-bottom: 0.1675em;
}
p {
  margin-top: 0.1675em;
}
.tagline {
  font-style: italic;
}
img, a {
  width: 100%;
}